* {
  box-sizing: border-box
}
*:after,
*.before {
  box-sizing: border-box
}

body, html, article {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: Roboto;
  font-size: 15px;
  text-transform: none;
  color: #222;
  line-height: 1.6em;
  -moz-osx-font-smoothing: grayscale;
  
}

a, a:visited {
  text-decoration: none;
  color:#549fb8
}

/* img {
  height: 240px;
} */
